* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    font-family: sfdisplaypro !important;
}

@font-face {
    font-family: sfdisplaypro;
    src: url("SFPRODISPLAYREGULAR.OTF");
}

body {
	background: linear-gradient(180deg, gray, antiquewhite);

}

.details_container {
    width: 85%;
    background-color: #464646;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 25px;
    border-radius: 5px;
    color: aliceblue;
    text-align: center;
    padding: 20px;
}

.details_container h2 {
    font-size: 20px;
}

.details_container h3 {
    font-size: 16px;
}

.details_container p {
    font-size: 13px;
}
