* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.logo {
	/*border: 2px solid black;*/
	transition-duration: 0.8s;
}

.logo:hover {
	transform: rotateZ(20deg);
}

.cls_name {
	color: darkcyan;
	text-shadow: -0.6px 0.6px 0 cyan, 0.6px 0.6px 0 cyan, 0.6px -0.6px 0 cyan, -0.6px -0.6px 0 cyan;
	letter-spacing: 2px;
	position: relative;
	
}

.header {
	/*border: 2px solid black;*/
	display: flex;
	align-items: center;
	padding: 5px;
	padding-left: 10px;
	background-color: #071e26;

}

nav {
	flex: 1;
	text-align: right;
	/*border: 2px solid black;*/
}


nav ul {
	list-style-type: none;
	display: inline-block;
}

nav ul li {
	display: inline-block;
	margin-right: 30px;
	/*border: 2px solid black;*/
	color: #2596be;
}


li:hover {
	border-bottom: 2px solid cyan;
}


nav a {
	text-decoration: none;
	color: #2596be;
}

nav a:hover {
	color: white;
}

.Footer {
	/*border: 2px solid black;*/
	display: flex;
	padding: 10px;
	justify-content: center;
	background-color: #071e26;
	color: darkgray;
}

.col-1 {
	/*border: 2px solid black;*/
	flex: 1;
	padding: 12px;
	padding-right: 20px;
}

.col-1 p {
	font-size: 13px;
	text-align: justify;
}

.col-2 {
	/*border: 2px solid black;*/
	border-left: 2px solid cyan;
	border-right: 2px solid cyan;
	flex: 1;
	padding: 25px;
}

.col-2 a {
	text-decoration: none;
	color: darkgray;
}

.col-3 {
	/*border: 2px solid black;*/
	flex: 1;
	padding: 25px;
}

.share {
	display: flex;
	justify-content: left;
	align-items: center;
	margin-bottom: 10px;
}

.share img {
	margin-right: 6px;
}

.share a {
	text-decoration: none;
	color: darkgray;
}

.foot-end {
	text-align: center;
	padding-top: 10px;
	padding-bottom: 15px;
	background-color: #000;
	color: darkgray;

}